section.about-me
			h2.about-me__title.visually-hidden
				| Информация обо мне
			.container
				.about-me__info
					.about-me__photo
						include dev-photo
					.about-me__contact-details
						include contact-details
