.indicator
	+svg("yellow-part").indicator__shape.indicator__yellow
	+svg("green-part").indicator__shape.indicator__green
	+svg("blue-part").indicator__shape.indicator__blue
	+svg("arrow").indicator__arrow
